p { /* Requirement-2.A */
    font-family: 'Times New Roman'; /* Requirement-2.1 */
    font-size: 16px; /* Requirement-2.9 */
}

a:link { /* Requirement-2.E */
    color: black; /* Requirement-2.3 */
}

a:visited {
    color: black;
}

body {
    background: url(images/horizon.jpg) no-repeat center center fixed; /* Requirement-2.4 */
    background-size: cover;
}

footer {
    text-align: center; /* Requirement-2.2 */
}

table {
    border: 3px solid black; /* Requirement-2.5 */
    position: static; /* Requirement-2.15 */
}

/* Requirement-2.F */
table tr th { /* Requirement-2.B */
    border: 1px solid black;
    padding: 50px;
}

table tr td {
    border: 1px solid black;
    padding: 50px;
}

ul li {
    list-style-type: disc; /* Requirement-2.8 */
}

.page { /* Requirement-2.C */
    padding-right: 15px; /* Requirement-2.6 */
}

.page-top {
    text-align: center;
}

.p-summary {
    display: inline-block; /* Requirement-2.12 */
    width: 500px;
    height: 300px;
    padding-left: 150px;
    padding-top: 25px;
    overflow: auto; /* Requirement-2.14 */
}

.summary-img {
    float: left; /* Requirement-2.11 */
    width: 300px;
    height: 300px;
    padding-left: 25%;
    padding-top: 25px;
}

.div-summary {
    background-color: white;
    width: 100%;
    z-index: 1; /* Requirement-2.17 */
}

.photoshop-artwork {
    width: 300px; /* Requirement-2.7 */
    height: 300px;
}

.h3-photoshop-artwork {
    text-align: center;
}

.p-photoshop {
    text-align: center;
}

.photo-credits {
    clear: left; /* Requirement-2.13 */
    font-size: 13px;
}

.invisible {
    visibility: hidden; /* Requirement-2.16 */
    text-align: center;
}

.album-table-td {
    text-align: center;
}

#album-cover { /* Requirement-2.D */
    height: 75%; /* Requirement-2.10 */
    width: 75%;
}